streamlit
gradio
openai
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
runpod
boto3
pandas
openpyxl
pillow
requests
python-dotenv
langchain-core
numpy
#byteplus-python-sdk-v2
#byteplussdkarkruntime